.register-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.register-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
}
.register-header{
    font-size: 31px;
    font-weight: 600;
    margin: 0 0 30px;
}
.register-h4{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.register-text-sm{
    font-size: 13px;
    font-weight: 400;
}
.register-subheader{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 15px;
}
.register-text{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}
.register-link{
    cursor: pointer;
}
.register-link:hover{
    text-decoration: underline;
}

/*Component specific style*/

.register-one-dob-wrapper{
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
}

.register-two-checkbox-wrapper{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}